html ,body{
padding: 0;
margin: 0;
}

.hero-image {
  background-image: url(http://dmxg5wxfqgb4u.cloudfront.net/styles/background_image_xl/s3/2019-06/047836_239_UFC.com_Assets_1920x1080%5B2%5D.jpg?mKfam1ONFXhmbwZt72qcBJ2LWt2V4goc&itok=_OlzEF_9);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 700px;
  background-attachment: fixed;

}

  figure img{
    height: 90%;
    width: 94%;
    float: left;
    margin: 1em;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
    line-height: 1.4em;
    letter-spacing: 1px;
    font-size: 20px;
}

h1 i {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1em;
}

footer {
  background-color: #333;
  padding: 0.1em;
}

footer p{
  text-align: center;
  color: white;
  font-weight: 400;
  line-height: 1.4em;
  margin: 6px;
  font-size: 18px;
}

footer img{
  height: 20px;
  width: 20px;
}

figure {
  padding: 0.5em;
  margin: 0 1em 0.5em 1em;
  float: left;
  width: 32%;
  border: 1px solid black;
}

figcaption p{
  font-size: 15px;
}


.news-jumbo {
  background-image: url(https://usatmmajunkie.files.wordpress.com/2019/10/greg-hardy-ben-sosoli-ufc-boston-3.jpg?w=1000&h=600&crop=1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  background-attachment: fixed;
  margin-top: 5%;
}

.news-jumbo2 {
  background-image: url(https://wallpapercave.com/wp/wp2511561.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 600px;
  background-attachment: fixed;
  margin-top: 0;
}
.news-jumbo3 {
  background-image: url(https://i.pinimg.com/originals/c1/d1/ab/c1d1ab5d59ccbaf77330a2e4cce2d285.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 600px;
  background-attachment: fixed;
  margin-top: 0;
}

.news-jumbo4 {
  background-image: url(https://www.wallpaperpimper.com/wallpapers/x5wiey/imac-21-retina-4k/ufc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 600px;
  background-attachment: fixed;
  margin-top: 0;
}

.container div img{
  width: 400px;
}

.news_title{
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
}

.row {
  margin: 15px;
}

.row img{
  height: 230px;
}

.news img {
	width: 12%;
	float: left;
	padding: 0.5em;
  margin: 0 1em 0.5em 0.5em;
}
.news h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #27318b;
}
.news hr {
	margin: 1em;
	border: 1px solid black;
}
.news time {
	font-size: 90%;
  font-style: italic;
  margin: 0 0 0 1em;
}
.fa-angle-left{
  width: 20px;
}
.title{
  text-align: center;
}

